

/*# sourceMappingURL=style.css.map */
.margin_top_10px{
    margin-top:10px
}
.margin_top_20px{
    margin-top:20px
}
.margin_top_30px{
    margin-top:30px
}
.margin_top_40px{
    margin-top:40px
}
.margin_top_50px{
    margin-top:50px
}
.margin_top_60px{
    margin-top:60px
}
.margin_top_70px{
    margin-top:70px
}
.margin_top_80px{
    margin-top:80px
}
body{
    margin:0;
    padding:0;
}
.nav{
    background-color:#222;


}
.logo_name{
    color:#fff;
    font-family:Georgia sans-serif;
    font-size:26px;
    font-weight:400;
    text-transform:uppercase
}
.logo_second_name{
    color:#fff;
    font-family:Georgia sans-serif;
    font-size:12px;
    font-weight:400;
    line-height:12px
}
.nav_name{
    color:#fff;
    font-family:Georgia sans-serif;
    font-size:12px;
    font-weight:400;
    line-height:12px;
    text-transform:uppercase;
    text-align:center
}
.nav_second_name{
    color:#ccc;
    font-family:"Arial MT";
    font-size:12px;
    font-weight:400;
    line-height:19.2px
}

.content_img{
    width:100%;
    height:380px;

}
.content_p{
    color:#333;
    font-family:Georgia sans-serif;
    font-size:41px;
    font-weight:400;
    font-style:italic;
    line-height:28px;
    line-height:42px;
    text-align:center
}
.title_content{
    color:#7c9c37;
    font-family:Georgia sans-serif;
    font-size:18px;font-weight:400;
    line-height:21.6px;
    text-align:center
}
.title_p{
    color:#666;
    font-family:Georgia sans-serif;
    font-size:12px;
    font-weight:400;
    line-height:19.2px;
    text-align:left;
}
